:root {
  --contentL: #e6e6e6 ;
  --trans-1: all .1s ease ;
  --trans-2: all .2s ease ;
  --trans-4: all .4s ease ;
  --darkTa: #989b9f ;
}

.ancrA {
  min-height:70px;
  max-height: 200px;
  padding: 5px;
  transition: var(--trans-1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:50;
  border-top: 1px solid var(--contentL);
}
.ancrC {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 0 0;
  border: 1px solid var(--contentL);
  border-bottom: 0;
  border-right: 0;
  position: absolute;
  right: 0;
  top: -30px;
  background: inherit;
} 
.ancrC::after {
  content:'\2715';
  line-height: 18px;
  font-size: 14px;
}
.ancrCn {
  flex-grow: 1;
  overflow: hidden;
  display:block;
  position:relative
}
.ancrI:checked ~ .ancrA {
  padding: 0;
  min-height: 0;
}
.ancrI:checked ~ .ancrA .ancrCn {
  display: none;
}
.adB {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: var(--darkTa);
  border: 1px solid var(--contentL);
  border-radius: 3px;
}
.adB::before {
  content: attr(data-text);
}
